@page "/"
@using BlazorUG.Pages.Components

<div class="row">
    <div class="col-md-6">
        <ToDo headerName="Daily Task"></ToDo>
    </div>
    <div class="col-md-6">
        <ToDo headerName="Monthly Task"></ToDo>
    </div>
</div>
